<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--1.扫描包-->
    <context:component-scan base-package="com.xpp"/>
    <!--2.配置模板解析器-->
    <bean id="templateResolver" class="org.thymeleaf.spring4.templateresolver.SpringResourceTemplateResolver">
        <!--配置前缀-->
        <property name="prefix" value="/WEB-INF/thymeleaf/"/>
        <!--配置后缀-->
        <property name="suffix" value=".html"/>
        <!--配置模板类型-->
        <property name="templateMode" value="HTML"/>
        <!--不使用缓存-->
        <property name="cacheable" value="false"/>
        <!--编码类型-->
        <property name="characterEncoding" value="UTF-8"/>
    </bean>
    <!--3.mob引擎配置-->
    <bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
        <!--使用模板解析器-->
        <property name="templateResolver" ref="templateResolver"/>
    </bean>
    <!--视图处理器-->
    <bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
        <!--使用模板引擎-->
        <property name="templateEngine" ref="templateEngine"/>
        <!--指定编码格式-->
        <property name="characterEncoding" value="UTF-8"/>
    </bean>
</beans>